.header {
  display: flex;
  align-items: center;
}

.title {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.title h1{
  font-size: 40px;
  color: #004BA8;
  font-weight: bold;
}

.menu-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/* Estilo do menu lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: -5000px; /* Escondido fora da tela */
  width: 250px;
  height: 100%;
  background-color: #4A525A;
  color: white;
  padding: 30px;
  transition: left 0.3s ease; /* Animação suave */
  border-radius: 0px 20px 20px 0px;
}

.sidebar.open {
  left: 0; /* Menu aparece na tela */
}

.sidebar img{
  margin-left: 85%;
  cursor: pointer;
}

.sidebar h1{
  font-size: 24px;
}

.sidebar hr{
  outline: none;
  border: none;
  background-color: #75B3FF;
  height: 2px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 16px 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.sidebar li:hover {
  color: #aaa;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
  width: 100%;
}

.main > div {
  flex: 1;
  padding: 10px; /* Espaçamento interno */
}

.toDo h1{
  color: #004BA8;
}

.Doing h1{
  color: #004BA8;
}

.Done h1{
  color: #004BA8;
}

.adicionar{
  background-color: #004BA8;
}